
@{
    var usuario = ViewData["Usuario"] as Usuario;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/dashboard/css/style.css">
</head>

<body>


    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <h1><a asp-action="index" class="logo align-content-center"><img src="~/assets/img/logo_icon_white.png" /></a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a asp-controller="posto" asp-action="index">Postos</a>
                    </li>
                    <li>
                        <a asp-controller="retirada" asp-action="index">Retiradas</a>
                    </li>
                    @if (usuario.TipoUsuario == Fiap.Web.FarmaciaEficiente.Models.Enum.TipoUsuarioEnum.ADMIN) 
                    {
                        <li>
                            <a asp-controller="medicamento" asp-action="index">Medicamentos</a>
                        </li>
                    }
                   

                </ul>

            </div>

        </nav>
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>

    </div>
</body>

</html>
<script src="~/dashboard/js/jquery.min.js"></script>
<script src="~/dashboard/js/popper.js"></script>
<script src="~/dashboard/js/bootstrap.min.js"></script>
<script src="~/dashboard/js/main.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/vendor/jquery/jquery.min.js"></script>
