@model Medicamento
@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Medicamento Update";
}



<h1>Atualizar o Medicamento: @Model.Nome</h1>

<form asp-action="update">

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <partial name="_Form" />
            <input asp-for="MedicamentoId" hidden/>
            <div class="row px-3">
                <div class="form-outline ml-3  mb-4" id="createAccountButton">
                    <button type="submit" class="btn btn-primary form-control">Editar</button>
                </div>
            </div>
        </div>
    </div>
</form>

