@model Usuario



<div class="form-outline mb-4">
    <label  asp-for="Email">Email</label>
    <input required asp-for="Email" class="form-control" placeholder="exemplo@gmail.com" />
</div>

<div class="form-outline mb-4">
    <label asp-for="PasswordHash">Senha</label>
    <input required asp-for="PasswordHash" type="password" class="form-control" placeholder="************" />
</div>